@charset "UTF-8";
/**
 * Application: Draw
 *
 * @package ajwm.Applications
 * @author Anders Evenrud <andersevenrud@gmail.com>
 */

.ApplicationDraw {

}

.ApplicationDrawPanel {
  position : absolute;
  top : 0px;
  left : 0px;
  bottom : 0px;
  width : 100px;
  border-right : 1px solid #d1d4d7;
}
.ApplicationDrawPanel .Clear {
  clear : both;
  height : 1px;
  overflow : hidden;
  visibility : hidden;
}
.ApplicationDrawPanel hr {
  clear : both;
  display : block;
  margin : 10px;
  margin-top : 0;
  margin-bottom : 0;
}

.ApplicationDrawPanel label {
  margin : 10px;
  width : 80px;
  text-align : center;
  display : block;
}

.DrawToolColors {
  position : relative;
  margin : 10px;
  height : 78px;
  width : 76px;
}

.DrawToolColors .color_Foreground {
  position : absolute;
  top : 0px;
  left : 0px;
  z-index : 2;

  width : 61px;
  height : 61px;
  border : 2px inset;
  background : #000000;
}

.DrawToolColors .color_Background {
  position : absolute;
  top : 15px;
  left : 15px;
  z-index : 1;

  width : 61px;
  height : 61px;
  border : 2px inset;
  background-color : #ffffff;
}

.ApplicationDrawPanel input[type=checkbox] {
  margin-left : -10px;
}

.ApplicationDrawPanel .Slider {
  margin-left : 20px;
  margin-right : 20px;
}
.ApplicationDrawPanel .Select {
  margin-left : 10px;
  margin-right : 10px;
}
.ApplicationDrawPanel .Select select {
  width : 76px;
}

.ApplicationDrawInner {
  position : absolute;
  top : 0px;
  right : 0px;
  bottom : 0px;
  left : 101px;
  background : url('/img/app.draw/checkerboard.png');
}

.ApplicationDrawInner .Canvas {
  /*background-color : #fff;*/
  margin : 0;
  padding : 0;
}

.DrawToolButtons {
}
.DrawToolButtons button {
  height : 38px;
  width : 38px;
  float : left;
  margin : 5px;
  padding : 0;
  display : block;
}
.DrawToolButtons button img {
  display : inline;
  vertical-align : middle;
}

.ApplicationDrawPanel button.Current {
  /*font-weight : bold;*/
  border-color : #000;
}
