@charset "UTF-8";
/**
 * Application: ApplicationFilemanager
 *
 * @package ajwm.Applications
 * @author Anders Evenrud <andersevenrud@gmail.com>
 */

.ApplicationFilemanager {
}
.ApplicationFilemanagerMain {
  position : absolute;
  top : 2px;
  left : 2px;
  right : 2px;
  bottom : 2px;
  background : #fff;
}
.ApplicationFilemanagerMain ul {
  list-style-type : none;
  padding : 0;
  margin : 0;
}
.ApplicationFilemanagerMain li {
  float : left;
  margin : 0;
  padding : 10px;
  text-align : center;
  width : 48px;
  height : 48px;
  font-size : 10px;
  word-wrap : break-word
}

.ApplicationFilemanagerMain .Inner,
.ApplicationFilemanagerMain .Inner * {
  cursor : pointer;
}
.ApplicationFilemanagerMain .Current .Title {
  background : #4f4f4f;
  color : #fff;
}
.ApplicationFilemanagerMain tr.Current,
.ApplicationFilemanagerMain tr.odd.Current {
  background : #4f4f4f;
  color : #fff;
}

.ApplicationFilemanagerMain table {
  border-collapse : collapse;
  width : 100%;
  background : #fff;
}
.ApplicationFilemanagerMain td {
  padding : 2px;
}
.ApplicationFilemanagerMain td.Image {
  width : 16px;
}
.ApplicationFilemanagerMain td.Size {
  width : 50px;
}
.ApplicationFilemanagerMain td.Type {
  width : 50px;
}

.ApplicationFilemanagerMain tr.odd {
  background : #e6e6e6;
}
