@charset "UTF-8";
/**
 * Application: ApplicationTerminal
 *
 * @package ajwm.Applications
 * @author Anders Evenrud <andersevenrud@gmail.com>
 * @class
 */

/* !!! READ-ONLY */

.ApplicationTerminal {

}

.ApplicationTerminal textarea {
  margin : 0;
  padding : 0;
  border : 0 none;
  background : #000;
  color : #fff;
  position : absolute;
  top : 2px;
  left : 2px;
  right : 2px;
  bottom : 2px;
  width : 100%;
  height : 100%;

  font-family : Monospace;
  font-size : 11px;
  resize : none;
  overflow-x : none;
  overflow-y : scroll;
  white-space : none;
}

