.ApplicationFilemanager {
}
.ApplicationFilemanagerMain {
  position : absolute;
  top : 2px;
  left : 2px;
  right : 2px;
  bottom : 2px;
  background : #fff;
}
.ApplicationFilemanagerMain ul {
  list-style-type : none;
  padding : 0;
  margin : 0;
}
.ApplicationFilemanagerMain li.list li {
}
.ApplicationFilemanagerMain ul.icon li {
  float : left;
  margin : 0;
  padding : 10px;
  text-align : center;
  width : 48px;
  height : 48px;
  font-size : 10px;
  word-wrap : break-word;
}
.ApplicationFilemanagerMain li .Inner,
.ApplicationFilemanagerMain li .Inner * {
  cursor : pointer;
}
.ApplicationFilemanagerMain ul li.Current .Title {
  background : #4f4f4f;
  color : #fff;
}
