.ApplicationBrowser {

}
.ApplicationBrowserBar {

}
.ApplicationBrowserBar input {
  display : block;
  width : 100%;
}
.ApplicationBrowserMain {
  position : absolute;
  top : 24px;
  left : 0px;
  right : 0px;
  bottom : 4px;
}
.ApplicationBrowserMain iframe {
  height : 100%;
  width : 100%;
}
