@charset "UTF-8";
/**
 * Application: ApplicationDrawNew
 *
 * @package ajwm.Applications
 * @author Anders Evenrud <andersevenrud@gmail.com>
 */

/* !!! READ-ONLY */

.ApplicationDrawNewNew {

}

.ApplicationDrawNew .colorbutton_foreground {
  background : #000000;
}
.ApplicationDrawNew .colorbutton_background {
  background-color : #ffffff;
}
.ApplicationDrawNew .GtkToolItemGroup {
  height : 38px;
  width : 38px;
  float : left;
  margin : 5px;
  padding : 0;
  display : block;
}
.ApplicationDrawNew .box3 {
  border-right : 1px solid #d1d4d7;
}
.ApplicationDrawNew .Canvas {
  background : url('/img/app.draw/checkerboard.png');
}
.ApplicationDrawNew .GtkViewport {
  left : 10px;
}
