@charset "UTF-8";
/**
 * Glade Stylesheet
 *
 * @package OSjs.Styles
 * @author Anders Evenrud <andersevenrud@gmail.com>
 */

/* GtkObject : Custom */
.GtkObject {
}

/* GtkWindow GtkDialog */
.GtkWindow,
.GtkDialog {
  position : absolute;
  top : 5px;
  left : 5px;
  right : 5px;
  bottom : 5px;
}

  /* Gtk[Object] Sizing */
  .GtkWindow .Fill,
  .GtkDialog .Fill {
  }
  .GtkWindow .Expand,
  .GtkDialog .Expand {
  }
    .GtkWindow .Expand.Fill,
    .GtkDialog .Expand.Fill {
    }

    .GtkWindow .Fill .GtkBox,
    .GtkWindow .Expand .GtkBox,
    .GtkDialog .Fill .GtkBox,
    .GtkDialog .Expand .GtkBox {
      
    }

    .GtkWindow .Fill .GtkObject,
    .GtkWindow .Expand .GtkObject,
    .GtkDialog .Fill .GtkObject,
    .GtkDialog .Expand .GtkObject {
      position : absolute;
      top : 0px;
      left : 0px;
      right : 0px;
      bottom : 0px;
    }
    .GtkWindow .Expand .GtkObject,
    .GtkDialog .Expand .GtkObject {
      /*height : auto;*/
    }

/* GtkBox */
.GtkBox {
  width : 100%;
  height : 100%;
  border-collapse : collapse;
  border : 0 none;
}

.GtkBox .GtkTab {
  height : auto;
  width : auto;
}

  .GtkBox tr,
  .GtkBox td {
    position : relative;
    vertical-align: top;
  }
  .GtkBox td.Expand.Fill {
    height : 100%;
  }
  .GtkBox.Vertical {
  }
  .GtkBox.Horizontal {
  }
  .GtkBox .GtkBoxPosition {
  }

  .GtkBox,
  .GtkBox tbody,
  .GtkBox tr,
  .GtkBox td {
    border : 0 none;
    margin : 0;
    padding : 0;
  }

/* GtkButtonBox */
.GtkButtonBox {
  width : 100%;
  height : 32px;
  list-style-type : none;
  margin : 0;
  padding : 0;
  text-align : right;
  margin-top : 10px;
}

  .GtkButtonBox li {
    display : inline-block;
    margin : 0;
    padding : 0;
  }

/* GtkLabel */
.GtkLabel {
  height : 20px;
}

/* GtkComboBox */
.GtkComboBox {
  height : 20px;
}

/* GtkImage */
.GtkImage {
}

/* GtkTextView */
.GtkTextView {
}

/* GtkEntry */
.GtkEntry {
  height : 20px;
}

/* GtkButton */
.GtkButton {
  height : 32px;
}
.GtkButton img {
  vertical-align : middle;
  margin-right : 5px;
}
.GtkButton span {
  vertical-align : middle;
}

/* GtkIconView */
.GtkIconView {
  background : #fff;
}

  /* GtkIconViewHeader : Custom */
  .GtkIconViewHeader {
    /* theme.* for more */
    color : #222;
  }

  .GtkIconView table {
    border-collapse : collapse;
  }

  .GtkIconView .Even {
    background : #fff;
  }
  .GtkIconView .Odd {
    background : #e6e6e6;
  }

/* GtkStatusbar */
.GtkStatusbar {
  height : 10px;
  padding : 5px;
  border-top : 1px solid #d1d4d7;
}

/* GtkCheckButton */
.GtkCheckButton {
  height : 20px;
}
  .GtkCheckButton * {
    vertical-align : middle;
  }

/* GtkToolPalette */
.GtkToolPalette {
}

 .GtkToolItemGroup {
  }

  .GtkToolItemGroup.Checked {
    border-style : inset;
  }

/* GtkSeparator */
.GtkSeparator {
}

/* GtkViewport */
.GtkViewport {
  overflow : auto;
  position : absolute;
  top : 0px;
  left : 0px;
  right  : 0px;
  bottom : 0px;
}

/* GtkDrawingArea */
.GtkDrawingArea {
  position : relative;
}

/* GtkToolbar */
.GtkToolbar {
  height : 20px;
  margin : -5px;
  padding : 5px;
  list-style-type : none;
}

  .GtkToolbar li {
    float : left;
    margin : 0;
    padding : 5px;
  }

  .GtkToolbar .Checked button {
    border-style : inset;
  }

  .GtkToolbar .GtkToggleToolButton {
    height : 20px;
  }

  .GtkToolbar .GtkToolItem {
    height : 20px;
    min-width : 100px;
    overflow : hidden;
  }

  .GtkToolbar .GtkToolItem .GtkBox {
    width : 100%;
    height : 100%;
    margin : 3px !important;
  }
  .GtkToolbar .GtkToolItem .GtkBox,
  .GtkToolbar .GtkToolItem .GtkBox tbody,
  .GtkToolbar .GtkToolItem .GtkBox tr,
  .GtkToolbar .GtkToolItem .GtkBox td {
    vertical-align : middle;
    margin : 0;
    padding : 0;
    border-collapse : collapse;
  }

/* GtkFixed */
.GtkFixed {
  position : relative;
}

  .GtkFixed .GtkObject {
    position : absolute;
  }

/* GtkColorButton */
.GtkColorButton {
  border : 2px inset #fff;
  background : #000;
}

/* GtkMenuBar > GtkMenu */
.GtkMenuBar {
  height : 30px;
  margin : -5px;
  padding : 0;
  padding-left : 5px;
  padding-right : 5px;
  margin-bottom : 0;
  list-style-type : none;
  font-size : 90%;
  background : #4f4f4f;
}
.GtkCustomMenu .GtkMenu { /* Custom */
  color : #222;
}
  .GtkMenuBar li,
  .GtkCustomMenu li { /* Custom */
    display : inline-block;
    position : relative;
    padding : 5px;
    height : 20px;
    line-height : 20px;
    white-space : nowrap;
  }
  .GtkCustomMenu li { /* Custom */
    display : block;
  }

    .GtkMenuBar ul,
    .GtkCustomMenu ul { /* Custom */
      margin : 0;
      padding : 2px;
      list-style-type : none;
      position : absolute;
      min-width : 100px;
      display : none;
      z-index : 100000000;

      background : #e6e6e6;
      border : 1px solid;
    }
      .GtkMenuBar li li,
      .GtkCustomMenu li li { /* Custom */
        display : block;
      }

  .GtkMenuItem img,
  .GtkCustomMenu img { /* Custom */
    margin-right : 5px;
    vertical-align : text-bottom;
  }

  .GtkMenuBar .Level_0 {
    color : #fff;
  }

  .GtkMenuBar span.Hover,
  .GtkCustomMenu span.Hover { /* Custom */
    text-decoration : underline;
  }

  .GtkMenu li span.Hover {
    text-decoration : none;
  }



  .GtkMenuBar .SubItem.Hover,
  .GtkCustomMenu .SubItem.Hover { /* Custom */
    color : #fff;
    background : #4f4f4f;
  }

  .GtkMenuBar .Checked {
    font-weight : bold;
  }
  .GtkMenuBar .Disabled {
    color : #ddd;
  }

  .GtkMenu .Subbed {
    background : url('/img/theme.default/menu_expand.png') no-repeat right;
    padding-right : 16px;
  }
  .GtkMenu .Subbed.Hover {
    background : #4f4f4f url('/img/theme.default/menu_expand_hover.png') no-repeat right;
  }

/* GtkNotebook */
.GtkNotebook {
  position : absolute;
  top : 0px;
  left : 0px;
  right : 0px;
  bottom : 0px;

  background : transparent;
  border : 0 none;
}

  .GtkNotebook .ui-tabs {
    position : absolute;
    top : 0px;
    right : 0px;
    left : 0px;
    bottom : 0px;
    z-index : 2;
    margin : 0;
  }

    .GtkNotebook .ui-tabs-nav {
      padding : 0;
      border : 0 none;
      font-size : 12px;
      background : transparent;
      margin-left : -2px;
    }
      .GtkNotebook .ui-tabs-nav a {
        color : #222;
        font-weight : normal;
      }
      .GtkNotebook .ui-tabs-nav .ui-tabs-selected a {
        font-weight : bold;
      }

  .GtkNotebook .ui-tabs-nav .ui-state-default {
    background : transparent;
    height : 28px;
    border-color : #d1d4d7;
  }
  .GtkNotebook .ui-tabs-nav .ui-tabs-selected {
    background : #fff;
  }

    .GtkNotebook .GtkTab {
      background : #fff;
      border : 1px solid #d1d4d7;
    }

  /* ^ theme.default for more */

  /* GtkTab : Custom */
  .GtkTab {
    position : absolute;
    top : 30px;
    left : 0px;
    right : 0px;
    bottom : 0px;
    z-index : 1;
  }

    .GtkTab .GtkBox {
      width : 100%;
      height : 100%;
    }


/* GtkFileChooserButton */
.GtkFileChooserButton {

}
  .GtkFileChooserButton table {
    width : 100%;
  }
  .GtkFileChooserButton td.Input {
    padding-right : 10px;
  }
  .GtkFileChooserButton td.Button {
    width : 30px;
  }
  .GtkFileChooserButton input[type=text] {
    width : 100%;
  }
  .GtkFileChooserButton button {
    width : 100%;
  }
