@charset "UTF-8";
/**
 * Main Stylesheet
 *
 * This stylesheet contains default styles for main components.
 *
 * - Color schemes are found in theme.*
 * - Advanced CSS features is in pimp.css
 * - Glade styles are in glade.css
 * - Fonts are defined in /?font=
 * - Cursors are defined in /?cursor=
 *
 *
 * @package OSjs.Styles
 * @author Anders Evenrud <andersevenrud@gmail.com>
 */

html {
  overflow : hidden;
  width : 100%;
  height : 100%;
}

body {
  overflow : hidden;
  margin : 0;
  padding : 0;
  width : 100%;
  height : 100%;
  position : fixed;
}

.TableCellWrap {
  position : relative;
  width : 100%;
  height: 100%; /* IE6: treated as min-height*/
}

/*
input.Disabled {
}
*/

#Version {
  position : absolute;
  bottom : 0px;
  right : 0px;
  text-align : right;
  padding : 5px;
}

/* Desktop */

#Desktop {
  position : relative;
  margin : 0;
  padding : 0;
  height : 100%;
}

#Loading {
  position : absolute;
  top : 10px;
  right : 10px;
  width : 200px;
  height : 22px;
  padding : 10px;
  z-index : 1000100;
  display : none;
}

#LoadingBar {
  height : 22px;
  border : 0 none;
}
#LoadingBar * {
  height : 22px;
  border : 0 none;
}
/*
#Loading .ui-progressbar-value {
}
  */

/* Panel */

.DesktopPanel {
  position : absolute;
  top : 0px;
  /*
  left : 50%;
  margin-left : -450px;
  width : 900px;
  */
  left : 0px;
  right : 0px;
  height : 30px;
  z-index : 1000000;
  display : none;
}
.DesktopPanel.Bottom {
  top : auto;
  bottom : 0px;
  left : 0px;
  right : 0px;
  height : 30px;
}
.DesktopPanel ul {
  margin : 0;
  padding : 0;
  height : 30px;
  list-style-type : none;
  position : relative;
}
.DesktopPanel li { /* .PanelItem */
  /*margin : 0;
  padding : 0;*/
}
.DesktopPanel ul ul {
  height : auto;
}


/*
.PanelButton {

}
*/

.PanelItem {
  float : left;
  height : 20px;
  line-height : 20px;
  margin : 5px;
  padding : 0;
  position : relative;
}

.PanelItem.Padded {
  padding-left : 5px;
  padding-right : 5px;
}

.PanelItem.AlignRight {
  float : right;
}

.PanelItemMenu {
  width : 25px;
  text-align : center;
}
.PanelItemMenu ul {
  text-align : left;
}

.PanelItemMenu img {
  vertical-align : middle;
}

.PanelItemWindow {
  margin : 0;
}
.PanelItemWindow img {
  vertical-align : middle;
  margin-right : 5px;
}
/*
.PanelItemWindow {
}
.PanelItemWindow.Current {
}

  */
.PanelItemClock {
  width : 100px;
  text-align : center;
}

.PanelItemLauncher {
  margin : 0;
  margin-left : 5px;
  margin-right : 5px;
}
.PanelItemLauncher img {
  vertical-align : middle;
}

.PanelWindowList {
  overflow : hidden;
}

.PanelItemSeparator {
  width : 1px;
  margin-left : 2px;
  margin-right : 2px;
  padding : 0;
  overflow : hidden;
}

.PanelItemWeather {
}
.PanelItemWeather img {
  vertical-align : middle;
  margin-right : 5px;
}

/* Menus */

.Menu {
  position : absolute;
  list-style-type : none;
  margin : 0;
  padding : 2px;
  top : 0px;
  left : 0;
  display : none;
  min-width : 100px;
  white-space : nowrap;
}

.Menu li {
  padding : 5px;
}
.Menu li.separator {
  padding-top : 0;
  padding-bottom : 0;
}
/*
.Menu li.Disabled {
}
.Menu li:hover {
}
  */

.Menu li img {
  vertical-align : middle;
  margin-right : 5px;
}
/*
.Menu li.checked {
}
  */

/* Window */

.Window {
  min-width : 100px;
  min-height : 100px;
  width : 500px; /* PHP */
  height : 300px; /* PHP */
  position : absolute;
  z-index : 10;
  overflow : hidden;
}
/*
.Window.Dragging {
}
*/
.WindowTop {
  height : 28px;
  text-align : center;
}
.WindowTopInner {
  height : 28px;
  line-height : 28px;
}
.WindowTopInner span {
}
.WindowTop img {
  float : left;
  padding : 5px;
}
.WindowTopControllers {
  position : absolute;
  top : 0px;
  right : 0px;
}
.WindowTopController {
  width : 27px;
  height : 28px;
  line-height : 28px;
  text-align : center;
  float : left;
}
/*
.WindowTopController:hover,
.WindowTopController.Active {
}
  */

.WindowContent {
  overflow : auto;
  position : absolute;
  top : 28px;
  left : 0px;
  right : 0px;
  bottom : 0px;
}
.WindowContentInner {
}

/*
.Window .ui-resizable-handle {
}
.Window .ui-resizable-n {
}
.Window .ui-resizable-ne {
}
.Window .ui-resizable-nw {
}
.Window .ui-resizable-s {
}
.Window .ui-resizable-e {
}
.Window .ui-resizable-se {
}
.Window .ui-resizable-w {
}
.Window .ui-resizable-sw {
}
*/

/*
.Dialog {


}
  */
.DialogContent {
  position : absolute;
  top : 5px;
  bottom : 25px;
  right : 5px;
  left : 5px;
}
.DialogContent.Message {
  padding : 10px;
}
/*
.DialogContent.error {
}
  */
.DialogButtons {
  position : absolute;
  bottom : 10px;
  right : 0px;
  left : 0px;
  height : 20px;
  text-align : center;
}
/*
.DialogButtons button {
  display : inline-block;
  padding : 0;
  margin : 0;
}
  */

/*
.OperationDialog {

}
  */
.OperationDialog h1 {
  margin : 0;
  padding : 0;
}
.OperationDialog p {
  margin : 0;
  padding : 0;
}
.OperationDialogInner {
  margin-top : 10px;
}
.OperationDialog .ProgressBar,
.OperationDialog .ProgressBar * {
  height : 22px;
}

.OperationDialog .FileChooser {
  position : absolute;
  top : 0px;
  left : 0px;
  right : 0px;
  bottom : 40px;
  overflow : auto;
}
.OperationDialog .FileChooser ul {
  margin : 0;
  padding : 0;
  list-style-type : none;
}
.OperationDialog .FileChooser li {
  padding : 5px;
}
.OperationDialog .FileChooser li img {
  vertical-align : middle;
  margin-right : 10px;
}
/*
.OperationDialog .FileChooser li {
}
.OperationDialog .FileChooser li:hover {
}
.OperationDialog .FileChooser li.current {
}
  */
.OperationDialog .FileChooserInput {
  position : absolute;
  left : 0px;
  right : 0px;
  bottom : 10px;
  height : 20px;
}
.OperationDialog .FileChooserInput input {
  width : 100%;
}

/*
.OperationDialog li.even {
}
.OperationDialog li.odd {
}
.OperationDialog li.Disabled {
}
  */

.OperationDialogColor .Slider {
  margin : 10px;
  margin-right : 120px;
}
.OperationDialogColor .CurrentColor {
  position : absolute;
  top : 0px;
  right : 0px;
  width : 100px;
  height : 100px;
}
.OperationDialogColor .CurrentColorDesc {
  margin-left : 10px;
}

.OperationDialogPanelItemAdd {
}
.OperationDialogPanelItemAdd .Wrapper {
  height : 240px;
  overflow : auto;
}
.OperationDialogPanelItemAdd ul {
  margin : 0;
  padding : 0;
  list-style-type : none;
}
.OperationDialogPanelItemAdd li {
  margin : 0;
  padding : 10px;
  position : relative;
  height : 40px;
}
/*
.OperationDialogPanelItemAdd li.Current {
}
*/
.OperationDialogPanelItemAdd li .Inner {
  position : absolute;
  left : 32px;
  margin-left : 20px;

}
.OperationDialogPanelItemAdd li .Title {
  font-weight : bold;
}
.OperationDialogPanelItemAdd li img {
  position : absolute;
}
.OperationDialogPanelItemAdd li:Hover .Title {
  text-decoration : underline;
}


#ContextMenu {
  position : absolute;
  top : 0;
  left : 0;
  z-index : 100000000;
  display : none;
}
#ContextMenu .Menu {
  position : relative;
  display : block;
}

#Tooltip {
  position : absolute;
  top : -1000px;
  left : -1000px;
  z-index : 100000001;
  padding : 2px;
  padding-left : 5px;
  padding-right : 5px;
  min-width : 20px;
}

#ContextRectangle {
  position : absolute;
  top : -1000px;
  left : -1000px;
  width : 0px;
  height : 0px;
  z-index : 100000000;
  padding : 0;

}

#LoginWindow {
  width : 300px;
  height : 140px;
}
#LoginWindow .WindowContent {
  top : 0px;
  left : 0px;
  right : 0px;
  bottom : 0px;
  padding : 10px;
  overflow : hidden;
}
#LoginWindow .Row {
  clear : both;
  margin-bottom : 10px;
}
#LoginWindow .Row label {
  display : block;
}
#LoginWindow .Row input {
  display : block;
  width : 275px;
}
#LoginWindow .Buttons {
  clear : both;
  text-align : center;
}

/*
.Window .ui-tabs,
.Window .ui-tabs-panel,
.Window .ui-tabs-nav {
}
*/
.Window .ui-tabs-panel {
  padding : 10px;
}
/*
.Window .ui-tabs li {
}
.Window .ui-tabs li a {
}
.Window .ui-tabs li.ui-tabs-selected a {
}
*/

.OperationDialog h1 {
  margin : 0;
  padding : 0;
  font-size : 120%;
}
