@charset "UTF-8";
/**
 * Main Stylesheet
 *
 * This is the main stylesheet. User for positioning elements etc.
 * - Default colors, fonts, cursors etc. in 'theme.default.css'
 * - CSS2/3 can be found in 'pimp.css'
 * - Theme is defined by js 'theme.*.js'
 *
 * @package ajwm.Styles
 * @author Anders Evenrud <andersevenrud@gmail.com>
 */

html {
  overflow : hidden;
  width : 100%;
  height : 100%;
}

body {
  overflow : hidden;
  margin : 0;
  padding : 0;
  width : 100%;
  height : 100%;
}

/*
input.Disabled {
}
*/

#Version {
  position : absolute;
  bottom : 0px;
  right : 0px;
  text-align : right;
  padding : 5px;
}

/* Desktop */

#Desktop {
  position : relative;
  margin : 0;
  padding : 0;
  height : 100%;
}

/*
#Loading {
  position : absolute;
  bottom : 10px;
  right : 10px;
  width : 200px;
  height : 30px;
  z-index : 1000000;
}

#LoadingBar {
  height : 22px;
  border : 0 none;
}
#LoadingBar * {
  height : 22px;
  border : 0 none;
}

#Loading .ui-progressbar-value {
}
  */

/* Panel */

.DesktopPanel {
  position : absolute;
  top : 0px;
  left : 0px;
  right : 0px;
  height : 30px;
  z-index : 10000000;
  display : none;
}
.DesktopPanel.Bottom {
  top : auto;
  bottom : 0px;
  left : 0px;
  right : 0px;
  height : 30px;
}

/*
.PanelButton {

}
*/

.PanelItem {
  float : left;
  height : 20px;
  line-height : 20px;
  margin : 5px;
  padding : 0;
  position : relative;
}

.PanelItem.Padded {
  padding-left : 5px;
  padding-right : 5px;
}

.PanelItem.AlignRight {
  float : right;
}
.PanelItemHolder {
  float : left;
}
.PanelItemHolder.AlignRight {
  float : right;
}

/*
.PanelItemMenu {
}
  */

.PanelItemMenu img {
  vertical-align : middle;
}

/*
.PanelItemWindow {
}
  */
.PanelItemWindow img {
  vertical-align : middle;
  margin-right : 5px;
}
/*
.PanelItemWindow {
}
.PanelItemWindow.Current {
}

.PanelItemClock {

}

.PanelItemLauncher {

}
  */
.PanelItemLauncher img {
  padding : 2px;
}

.PanelWindowHolder {
  overflow : hidden;
}

.PanelItemSeparator {
  width : 1px;
  margin-left : 2px;
  margin-right : 2px;
  padding : 0;
}

/* Menus */

.Menu {
  position : absolute;
  list-style-type : none;
  margin : 0;
  padding : 5px;
  top : 20px;
  left : 0;
  display : none;
  min-width : 100px;
  white-space : nowrap;
}

.Menu li {
  padding : 5px;
}
/*
.Menu li.Disabled {
}
.Menu li:hover {
}
  */

.Menu li img {
  vertical-align : middle;
  margin-right : 5px;
}
/*
.Menu li.checked {
}
  */

/* Window */

.Window {
  min-width : 100px;
  min-height : 100px;
  width : 500px; /* PHP */
  height : 300px; /* PHP */
  position : absolute;
  z-index : 10;
  overflow : hidden;
}
/*
.Window.Dragging {
}
*/
.WindowTop {
  height : 28px;
  text-align : center;
}
.WindowTopInner {
  height : 28px;
  line-height : 28px;
}
.WindowTopInner span {
}
.WindowTop img {
  float : left;
  padding : 5px;
}
.WindowTopControllers {
  position : absolute;
  top : 0px;
  right : 0px;
}
.WindowTopController {
  width : 27px;
  height : 28px;
  line-height : 28px;
  text-align : center;
  float : left;
}
/*
.WindowTopController:hover,
.WindowTopController.Active {
}
  */
.WindowMenu {
  height : 28px;
}
.WindowMenu ul.Top {
  list-style-type : none;
  margin : 0;
  padding : 0;
  margin-left : 5px;
  margin-right : 5px;
}
.WindowMenu li.Top {
  float : left;
  height : 28px;
  line-height : 28px;
  padding : 0;
  padding-left : 5px;
  padding-right : 5px;
  position : relative;
}
/*
.WindowMenu span.Top:hover {
}
*/
.WindowMenu .Menu {
  z-index : 10000;
  padding : 2px;
}
.WindowMenu .Menu li {
  padding : 0;
}

.WindowContent {
  overflow : auto;
  position : absolute;
  top : 30px;
  left : 2px;
  right : 2px;
  bottom : 4px;
}
.WindowContent.HasMenu {
  top : 58px;
}
.WindowContent.HasBottom {
  bottom : 25px;
}
/*
.WindowContentInner {
}
*/
.WindowBottom {
  position : absolute;
  bottom : 4px;
  left : 4px;
  right : 4px;
  height : 21px;
}
.WindowBottomInner {
  padding : 5px;
}

/*
.Window .ui-resizable-handle {
}
.Window .ui-resizable-n {
}
.Window .ui-resizable-ne {
}
.Window .ui-resizable-nw {
}
.Window .ui-resizable-s {
}
.Window .ui-resizable-e {
}
.Window .ui-resizable-se {
}
.Window .ui-resizable-w {
}
.Window .ui-resizable-sw {
}
*/

/*
.Dialog {


}
  */
.DialogContent {
  position : absolute;
  top : 5px;
  bottom : 25px;
  right : 5px;
  left : 5px;
}
/*
.DialogContent.error {
}
  */
.DialogButtons {
  position : absolute;
  bottom : 4px;
  right : 0px;
  left : 0px;
  height : 20px;
  text-align : center;
}
/*
.DialogButtons button {
  display : inline-block;
  padding : 0;
  margin : 0;
}
  */

/*
.OperationDialog {

}
  */
.OperationDialog h1 {
  margin : 0;
  padding : 0;
}
.OperationDialog p {
  margin : 0;
  padding : 0;
}
.OperationDialogInner {
  margin-top : 10px;
}
.OperationDialog .ProgressBar,
.OperationDialog .ProgressBar * {
  height : 22px;
}

.OperationDialog .FileChooser {
  position : absolute;
  top : 0px;
  left : 0px;
  right : 0px;
  bottom : 40px;
  overflow : auto;
}
.OperationDialog .FileChooser ul {
  margin : 0;
  padding : 0;
  list-style-type : none;
}
.OperationDialog .FileChooser li {
  padding : 5px;
}
.OperationDialog .FileChooser li img {
  vertical-align : middle;
  margin-right : 10px;
}
/*
.OperationDialog .FileChooser li {
}
.OperationDialog .FileChooser li:hover {
}
.OperationDialog .FileChooser li.current {
}
  */
.OperationDialog .FileChooserInput {
  position : absolute;
  left : 0px;
  right : 0px;
  bottom : 10px;
  height : 20px;
}
.OperationDialog .FileChooserInput input {
  width : 100%;
}

/*
.OperationDialog li.even {
}
.OperationDialog li.odd {
}
.OperationDialog li.Disabled {
}
  */

.OperationDialogColor .Slider {
  margin : 10px;
  margin-right : 120px;
}
.OperationDialogColor .CurrentColor {
  position : absolute;
  top : 0px;
  right : 0px;
  width : 100px;
  height : 100px;
}
.OperationDialogColor .CurrentColorDesc {
  margin-left : 10px;
}


#ContextMenu {
  position : absolute;
  top : 0;
  left : 0;
  z-index : 100000000;
}
#ContextMenu .Menu {
  padding : 2px;
  position : relative;
  display : block;
}

#LoginWindow {
  width : 300px;
  height : 140px;
}
#LoginWindow .WindowContent {
  top : 0px;
  left : 0px;
  right : 0px;
  bottom : 0px;
  padding : 10px;
  overflow : hidden;
}
#LoginWindow .Row {
  clear : both;
  margin-bottom : 10px;
}
#LoginWindow .Row label {
  display : block;
}
#LoginWindow .Row input {
  display : block;
  width : 275px;
}
#LoginWindow .Buttons {
  clear : both;
  text-align : center;
}
