
.SystemUser {
}

.SystemUserLoading {
  background : url('/img/ajaxload_snake_trans.gif') no-repeat center center;
  position : absolute;
  top : 0px;
  left : 0px;
  right : 0px;
  bottom : 0px;
}

.SystemUserInner {
}

.SystemUserInner td {
  padding : 5px;
}

.SystemUserInner .pri {
  font-weight : bold;
}
