@charset "UTF-8";
/**
 * Application: SystemUser
 *
 * @package ajwm.Applications
 * @author Anders Evenrud <andersevenrud@gmail.com>
 */

.SystemUser {
}

.SystemUserLoading {
  background : url('/img/ajaxload_snake_trans.gif') no-repeat center center;
  position : absolute;
  top : 0px;
  left : 0px;
  right : 0px;
  bottom : 0px;
}

.SystemUser .notepad1 {
}

.SystemUser .notepad1 td {
  padding : 5px;
}

.SystemUser .notepad1 li.ui-tabs-selected {
  background : #fff;
}

.SystemUser .GtkTab,
.SystemUser .GtkTab {
  background : #fff;
}
.SystemUser .fixed2 {
  overflow-y : auto;
}
.SystemUser .fixed2 ul {
  list-style-type : none;
  margin : 0;
  padding : 0;
}
.SystemUser .fixed2 li {
  margin : 0;
  padding : 5px;
  padding-left : 20px;
  background : url('/img/icons/16x16/actions/down.png') no-repeat left 5px;
}
.SystemUser .fixed2 li.toggled {
  background : url('/img/icons/16x16/actions/up.png') no-repeat left 5px;
}
.SystemUser .fixed2 li div {
  display : none;
  border : 1px solid #e6e6e6;
  padding : 10px;
  white-space : pre;
}
.SystemUser .fixed2 span {
  font-weight : bold;
  cursor : pointer;
}

