.SystemLogout {
  padding : 10px;
}
.SystemLogout h1 {
  margin : 0;
  padding : 0;
  margin-bottom : 10px;
}
.SystemLogoutButtons {
  position : absolute;
  bottom : 10px;
  right : 0px;
  left : 0px;
  text-align : center;
}
