@charset "UTF-8";
/**
 * Theme: Default
 *
 * @package ajwm.Themes
 * @author Anders Evenrud <andersevenrud@gmail.com>
 */

.DesktopPanel {
  background : #e6e6e6;
}
.Window {
  background : #e6e6e6;
}
.Menu {
  background : #e6e6e6;
}
