@charset "UTF-8";
/**
 * Theme: Dark
 *
 * @package ajwm.Themes
 * @author Anders Evenrud <andersevenrud@gmail.com>
 */

body.ThemeDark {
  background : #005a77;
  color : #222;
}

/*
#LoadingBar {
  background : #3c3c3d;
}
#Loading .ui-progressbar-value {
  background-image: url('/img/pbar-ani.gif');
}
*/

body.ThemeDark .DesktopPanel {
  background : #3c3c3d;
  border-bottom : 1px solid #2a2a2b;
}

body.ThemeDark .PanelItem {
  color : #b0c2c1;
}
body.ThemeDark .PanelItem:hover {
  color : #fff;
}
body.ThemeDark .PanelItem.Current {
}
body.ThemeDark .PanelItemSeparator {
  border-left : 1px solid #363636;
  border-right : 1px solid #3f4040;
}
body.ThemeDark .PanelItemSeparator:hover,
body.ThemeDark .PanelItemClock:hover {
}

body.ThemeDark .Window {
  border : 1px solid #30353d;
  background : #eeeeee;
}
body.ThemeDark .WindowTop {
  color : #b0c2c1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#41454d', endColorstr='#31363d'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#41454d), to(#31363d)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #41454d,  #31363d); /* for firefox 3.6+ */ 
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.0%22%3E%3Cdefs%3E%3ClinearGradient%20id%3D%22gradient%22%20x1%3D%220%22%20y1%3D%220%22%20x2%3D%220%22%20y2%3D%22100%25%22%3E%3Cstop%20offset%3D%220%25%22%20style%3D%22stop-color%3A%20%2341454d%3B%22/%3E%3Cstop%20offset%3D%22100%25%22%20style%3D%22stop-color%3A%20%2331363d%3B%22/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20fill%3D%22url%28%23gradient%29%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20/%3E%3C/svg%3E);

}
body.ThemeDark .WindowMenu span.Top {
  color : #fff;
}
body.ThemeDark .WindowMenu span.Top:hover {
  text-decoration : underline;
}

body.ThemeDark .WindowTopController {
  font-weight : bold;
  font-size : 16px;
}
body.ThemeDark .WindowTopController:hover {
  color : #fff;
}
body.ThemeDark .Window.Current .WindowTopInner {
  color : #fff;
}

body.ThemeDark .Menu {
  border : 1px solid #30353d;
  background : #eeeeee;
  color : #222;
}
body.ThemeDark .Menu li:hover {
  color : #fff;
  background : #4f4f4f;
}
