body {
  font-family : Arial;
  font-size : 12px;
  background : #005a77 url('/img/02555_cherryblossoms_2560x1600.jpg') center center;
  color : #222;
}

.DesktopPanel {
  background : #3c3c3d;
  border-bottom : 1px solid #2a2a2b;
  -moz-box-shadow: 0px 0px 10px #000;
  -webkit-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
}

.PanelItem {
  color : #fff;
  border : 1px solid transparent;
}
.PanelItem:hover {
  background : #414141;
  border : 1px solid #363636;
}
.PanelItem.Current {
  text-decoration : underline;
}
.PanelItemSeparator {
  border-left : 1px solid #363636;
  border-right : 1px solid #3f4040;
}
.PanelItemSeparator:hover,
.PanelItemClock:hover {
  background : #3c3c3d;
  border : 1px solid transparent;
}

.Window {
  border : 1px solid #30353d;
  background : #eeeeee;
  -moz-box-shadow: 0px 0px 10px #000;
  -webkit-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
}
.WindowTop {
  color : #b0c2c1;
  font-weight : bold;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#41454d', endColorstr='#31363d'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#41454d), to(#31363d)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #41454d,  #31363d); /* for firefox 3.6+ */ 
}
.WindowTopController:hover {
  color : #fff;
}
.Window.Current .WindowTop {
  color : #fff;
}

.Menu {
  border : 1px solid #30353d;
  background : #eeeeee;
  color : #222;
  -moz-box-shadow: 0px 0px 10px #000;
  -webkit-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
}
.Menu li:hover {
  color : #fff;
  background : #4f4f4f;
}
