@charset "UTF-8";
/**
 * Theme: Default
 *
 * All default styles goes here
 *
 * @package OSjs.Themes
 * @author Anders Evenrud <andersevenrud@gmail.com>
 */

body {
  background : #666;
  font-size : 12px;
}

input.Disabled {
  background : #e6e6e6;
}

textarea {
  font-family : Monospace;
  font-size : 12px;
}

#Loading {
  background : #222;
  color : #fff;
}
#LoadingBar {
  background : #555;
}

#ContextRectangle {
  margin : -1px;
  background : #eee;
  border : 1px solid #222;
}

#Tooltip {
  border : 1px solid #000;
  background : #e6e6e6;
  white-space : nowrap;
}

.DesktopPanel {
  background : #e6e6e6;
}

/*
.PanelItem {
  cursor : pointer;
}
*/

.PanelItemWindow.Current {
  font-weight : bold;
}

.Window {
  background : #e6e6e6;
}
/*
.WindowTopController {
  cursor : pointer;
}
  */
.WindowTopController {
}
.WindowTopController:hover,
.WindowTopController.Active {
  background : url('/img/theme.default/prelight_unfocused.png') no-repeat center center;
}
.WindowTopController:active {
  background : url('/img/theme.default/prelight.png') no-repeat center center;
}
.WindowTopController .ActionMinimize {
  background : url('/img/theme.default/minimize_unfocused.png') no-repeat center center;
}
.WindowTopController .ActionMinimize:hover {
  background : url('/img/theme.default/minimize.png') no-repeat center center;
}
.WindowTopController .ActionMaximize {
  background : url('/img/theme.default/maximize_unfocused.png') no-repeat center center;
}
.WindowTopController .ActionMaximize:hover {
  background : url('/img/theme.default/maximize.png') no-repeat center center;
}
.WindowTopController .ActionClose {
  background : url('/img/theme.default/close_unfocused.png') no-repeat center center;
}
.WindowTopController .ActionClose:hover {
  background : url('/img/theme.default/close.png') no-repeat center center;
}

.WindowBottomInner {
}
/*
.Window .ui-resizable-n {
  cursor : n-resize;
}
.Window .ui-resizable-ne {
  cursor : ne-resize;
}
.Window .ui-resizable-nw {
  cursor : nw-resize;
}
.Window .ui-resizable-s {
  cursor : s-resize;
}
.Window .ui-resizable-e {
  cursor : e-resize;
}
.Window .ui-resizable-se {
  cursor : se-resize;
}
.Window .ui-resizable-w {
  cursor : w-resize;
}
.Window .ui-resizable-sw {
  cursor : sw-resize;
}
  */


.Menu {
  background : #e6e6e6;
}
/*
.Menu li {
  cursor : pointer;
}
  */
.Menu li.Disabled {
  color : #777;
}
.Menu li.checked {
  font-weight : bold;
}
.Menu li.header,
.Menu li.header:hover {
  font-weight : bold;
  text-align : center;
  background : #222;
}
.Menu li.header.Disabled {
  color : #fff;
}
.Menu li.header span {
  display : none;
}

.DialogContent.error {
  color : #ff0000;
}

.OperationDialog li.even {
  background : #fff;
}
.OperationDialog li.odd {
  background : #e6e6e6;
}
.OperationDialog li.Disabled {
  color : #777;
}
.OperationDialog .ProgressBar,
.OperationDialog .ProgressBar * {
  border : 0 none;
}

.OperationDialogColor .CurrentColor {
  background : #000;
  border : 2px inset;
}

/*
.OperationDialog .FileChooser li {
  cursor : pointer;
}
  */
.OperationDialog .FileChooser li:hover {
  text-decoration : underline;
}
.OperationDialog .FileChooser li.current {
  font-weight : bold;
}

.OperationDialogLaunch p {
  padding : 5px;
  padding-top : 0;
  margin : 0;
}

.OperationDialogLaunch ul {
  margin : 0;
  padding : 0;
  list-style-type : none;
  height : 170px;
  overflow : auto;
}
.OperationDialogLaunch li {
  margin : 0;
  padding : 5px;
}
.OperationDialogLaunch li img {
  vertical-align : middle;
  margin-right : 5px;
}
.OperationDialogLaunch li:hover {
  text-decoration : underline;
}
.OperationDialogLaunch li.current {
  font-weight : bold;
}

.OperationDialogPanelItemAdd .Wrapper {
  background : #fff;
}
.OperationDialogPanelItemAdd li {
  color : #222;
}
.OperationDialogPanelItemAdd li.Current {
  background : #4f4f4f;
  color : #fff;
}

#Version {
  color : #000;
  font-size : 10px;
}

/* Glade */

/*
.GtkWindow .GtkMenu li {
  cursor : pointer;
}
  */
