@font-face {
  font-family : MyFont;
  src: url('/css/Sansation_Regular.ttf');
}
@font-face {
  font-family : MyFont;
  font-weight : bold;
  src: url('/css/Sansation_Bold.ttf');
}

body {
  font-family : MyFont, Arial;
  font-size : 12px;
  background : #005a77 url('/media/02555_cherryblossoms_2560x1600.jpg') center center;
  color : #222;
}

#Console {
  -moz-opacity : 0.8;
  opacity : 0.8;
  white-space : nowrap;
}
#Console .init {
  color : #3b9450;
}
#Console .destroy {
  color : #8f943b;
}
#Console .event {
  color : #3b4b94;
}
#Console .response {
  color : #87948f;
}
#Console .error {
  color : #943b3b;
  font-weight : bold;
}
#Console .info {
  color : #fff;
  font-weight : bold;
}

/*
#LoadingBar {
  background : #3c3c3d;

  -moz-box-shadow: 0px 0px 10px #000;
  -webkit-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
}
#Loading .ui-progressbar-value {
  background-image: url('/img/pbar-ani.gif');
}
  */

.DesktopPanel {
  background : #3c3c3d;
  border-bottom : 1px solid #2a2a2b;
  -moz-box-shadow: 0px 0px 10px #000;
  -webkit-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
}

.PanelItem {
  color : #b0c2c1;
  border : 1px solid transparent;
}
.PanelItem:hover {
  color : #fff;
  border : 1px solid #363636;
}
.PanelItem.Current {
}
.PanelItemSeparator {
  border-left : 1px solid #363636;
  border-right : 1px solid #3f4040;
}
.PanelItemSeparator:hover,
.PanelItemClock:hover {
  background : #3c3c3d;
  border : 1px solid transparent;
}

.Window {
  border : 1px solid #30353d;
  background : #eeeeee;
  -moz-box-shadow: 0px 0px 10px #000;
  -webkit-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
}
.Window.Blend {
  -moz-opacity : 0.5;
  opacity : 0.5;
}
.WindowTop {
  color : #b0c2c1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#41454d', endColorstr='#31363d'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#41454d), to(#31363d)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #41454d,  #31363d); /* for firefox 3.6+ */ 
}
.WindowMenu span.Top {
  color : #fff;
}
.WindowMenu span.Top:hover {
  text-decoration : underline;
}

.WindowTopController {
  font-weight : bold;
  font-size : 16px;
}
.WindowTopController:hover {
  color : #fff;
}
.Window.Current .WindowTopInner {
  color : #fff;
}

.Menu {
  border : 1px solid #30353d;
  background : #eeeeee;
  color : #222;
  -moz-box-shadow: 0px 0px 10px #000;
  -webkit-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
}
.Menu li:hover {
  color : #fff;
  background : #4f4f4f;
}
