@charset "UTF-8";
/*!
 * Application: ApplicationClock
 *
 * @package OSjs.Applications
 * @author Anders Evenrud <andersevenrud@gmail.com>
 */

/* !!! READ-ONLY */

.ApplicationClock .Clock {
  position : relative;
  width : 200px;
  height : 200px;
  background : url('/img/app.clock/clockface.jpg') no-repeat;
}
.ApplicationClock .Clock div {
  position : absolute;
  width : 10px;
  height : 200px;
  top: 0px;
  left: 95px;
}
.ApplicationClock .Clock .HourShadow {
  background : url('/img/app.clock/hourshad.png') no-repeat;
  z-index : 1;
}
.ApplicationClock .Clock .Hour {
  background : url('/img/app.clock/hourhand.png') no-repeat;
  z-index : 2;
}
.ApplicationClock .Clock .MinuteShadow {
  background : url('/img/app.clock/minshad.png') no-repeat;
  z-index : 3;
}
.ApplicationClock .Clock .Minute {
  background : url('/img/app.clock/minhand.png') no-repeat;
  z-index : 4;
}
.ApplicationClock .Clock .SecondShadow {
  background : url('/img/app.clock/secshad.png') no-repeat;
  z-index : 5;
}
.ApplicationClock .Clock .Second {
  background : url('/img/app.clock/sechand.png') no-repeat;
  z-index : 6;
}
