@charset "UTF-8";
/*!
 * Application: ApplicationWriter
 *
 * @package OSjs.Applications
 * @author Anders Evenrud <andersevenrud@gmail.com>
 */

/* !!! READ-ONLY */

.ApplicationWriter .Position_1 {
  /*
  position : absolute;
  top : 2px;
  left : 2px;
  right : 2px;
  bottom : 2px;
  background : #fff;
  */
}
.ApplicationWriter .textview1 {
  width : 100%;
  height : 100%;
  /*
  position : absolute;
  top : 0px;
  left : 0px;
  right : 0px;
  bottom : 0px;
  */
  background : #fff;
  font-family : Monospace;
  border : 0 none;
  margin : 0;
  padding : 0;
  display : block;

  resize: none;
}

.ApplicationWriter .textarea {
  position : absolute;
  top : 0px;
  left : 0px;
  right : 0px;
  bottom : 0px;
  background : #fff;
  margin : 2px;
  padding : 2px;
  border-style : inset;
  border-width : 2px;
}
