@charset "UTF-8";
/*!
 * Application: ApplicationPDF
 *
 * @package OSjs.Applications
 * @author Anders Evenrud <andersevenrud@gmail.com>
 * @licence Simplified BSD License
 */

.ApplicationPDF {

}
.ApplicationPDF .fixed1 {
  position : absolute;
  top : 0px;
  left : 0px;
  bottom : 0px;
  right : 0px;
  background : #fff;
  overflow : auto;
}
.ApplicationPDF .box2 {
  margin-bottom : 10px;
}
.ApplicationPDF .label_navigation {
  line-height : 32px;
  text-align : center;
}
