
# Secure the media directory from execution
<Directory media>
  AddHandler cgi-script .php .php3 .php4 .phtml .pl .py .jsp .asp .htm .shtml .sh .cgi
  Options –ExecCGI -Indexes
  php_flag engine off
</Directory>

#<Directory media/System>
  #AuthUserFile .htpasswd
  #AuthGroupFile /dev/null
#  AuthName "OS.js Login"
#  AuthType Basic
#  require valid-user
#</Directory>
