.git-old
_work/
*.*.sw*
.vimerr
vim.session
template/*.php
doc/doxygen.log
doc/api/*

# Propel
src/build/classes/*/map/*
src/build/classes/*/om/*
src/build/conf/*-conf.php
src/build/conf/classmap-*-conf.php
src/build/sql/schema.sql
src/build/sql/sqldb.map

# Touch support
public_html/js/vendor/jquery-git.js
public_html/js/vendor/jquery-ui.min.js
public_html/js/vendor/jquery.touch.js.txt
public_html/js/vendor/jquery.ui.touch-punch.min.js

# Temp Applications
public_html/css/app.email.css
public_html/img/app.draw/icons/
public_html/js/app.email.js
src/IMAP.class.php
src/build/classes/ajwm/AppEmailMailbox.php
src/build/classes/ajwm/AppEmailMailboxPeer.php
src/build/classes/ajwm/AppEmailMailboxQuery.php
src/build/classes/ajwm/AppEmailMessage.php
src/build/classes/ajwm/AppEmailMessagePeer.php
src/build/classes/ajwm/AppEmailMessageQuery.php
src/build/classes/ajwm/Location.php
src/build/classes/ajwm/LocationPeer.php
src/build/classes/ajwm/LocationQuery.php
src/build/migrations/PropelMigration_1307167424.php
src/build/migrations/PropelMigration_1307167993.php
