# Common
.git-old
_work/
*.*.sw*
.vimerr
vim.session
template/*.php
doc/doxygen.log
doc/api/*
doc/*
public_html/.htpasswd
VFS/*
!VFS/0
public_html/media/Public/*

# Misc
config.php

# Sub-modules
src/packages
vendor/*

# Build files
src/build/minimize.cache
src/locale/*/LC_MESSAGES/messages.mo
src/build/packages.xml
src/build/applications.xml
src/build/database.sdb
src/build/filesystem.sdb
src/build/fontcache.xml

# Minimized files
src/apps/*/_min
src/resources/_min
src/base/_min
src/base/locale/_min
src/javascript/_min
src/javascript/locale/_min
