@charset "UTF-8";
/*!
 * Application: ApplicationWriter
 *
 * @package OSjs.Applications
 * @author Anders Evenrud <andersevenrud@gmail.com>
 */

/* !!! READ-ONLY */

.ApplicationWriter .textarea {
  position : absolute;
  top : 0px;
  left : 0px;
  right : 0px;
  bottom : 0px;
  background : #fff;
  margin : 2px;
  padding : 2px;
  border-style : inset;
  border-width : 2px;
}
