@charset "UTF-8";
/*!
 * Application: ApplicationFileManager
 *
 * @package OSjs.Applications
 * @author Anders Evenrud <andersevenrud@gmail.com>
 * @licence Simplified BSD License
 */

/* !!! READ-ONLY */

.ApplicationFileManager {
}
/*
.Window.ApplicationFileManager .WindowContent{
  background : #fff;
}
  */
.ApplicationFileManager .iconview1 .Current .Title {
  background : #4f4f4f;
  color : #fff;
}
.ApplicationFileManager .iconview1 td.Image {
  width : 16px;
}
.ApplicationFileManager .iconview1 td.Size {
  width : 50px;
}
.ApplicationFileManager .iconview1 td.Type {
  width : 50px;
}
.ApplicationFileManager .Loading {
  position : absolute;
  top : 0px;
  left : 0px;
  right : 0px;
  bottom : 0px;
  z-index : 1000;
  background : #000;

  filter: alpha(opacity=30); /* internet explorer */
  -khtml-opacity: 0.30;      /* khtml, old safari */
  -moz-opacity: 0.30;       /* mozilla, netscape */
  opacity: 0.30;           /* fx, safari, opera */
}
.ApplicationFileManager .Loading img {
  display : block;
  position : absolute;
  left : 50%;
  top : 50%;
  width : 64px;
  height : 64px;
  margin : -32px;
}
