@charset "UTF-8";
/*!
 * Application: ApplicationFileManager
 *
 * @package OSjs.Applications
 * @author Anders Evenrud <andersevenrud@gmail.com>
 */

/* !!! READ-ONLY */

.ApplicationFileManager {
}
/*
.Window.ApplicationFileManager .WindowContent{
  background : #fff;
}
  */
.ApplicationFileManager .iconview1 {
  /*
  position : absolute;
  top : 2px;
  left : 2px;
  right : 2px;
  bottom : 2px;
  */
  background : #fff;
  overflow : auto;
}
.ApplicationFileManager .iconview1 ul {
  list-style-type : none;
  padding : 0;
  margin : 0;
}
.ApplicationFileManager .iconview1 li {
  float : left;
  margin : 0;
  padding : 10px;
  text-align : center;
  width : 48px;
  height : 48px;
  font-size : 10px;
  word-wrap : break-word;
}

.ApplicationFileManager .iconview1 .Inner,
.ApplicationFileManager .iconview1 .Inner * {
  cursor : pointer;
}
.ApplicationFileManager .iconview1 .Current .Title {
  background : #4f4f4f;
  color : #fff;
}
.ApplicationFileManager .iconview1 tr.Current,
.ApplicationFileManager .iconview1 tr.odd.Current {
  background : #4f4f4f;
  color : #fff;
}

.ApplicationFileManager .iconview1 table {
  border-collapse : collapse;
  width : 100%;
}
.ApplicationFileManager .iconview1 td {
  padding : 2px;
  white-space : nowrap;
}
.ApplicationFileManager .iconview1 td.Image {
  width : 16px;
}
.ApplicationFileManager .iconview1 td.Size {
  width : 50px;
}
.ApplicationFileManager .iconview1 td.Type {
  width : 50px;
}

.ApplicationFileManager .iconview1 tr.odd {
  background : #e6e6e6;
}


.ApplicationFileManager .iconview1 table.TableHead {
  height : 20px;
  padding-top :5px;
  padding-bottom : 5px;
  overflow : hidden;
  display : block;
}
.ApplicationFileManager .iconview1 table.TableBody {
  background : #fff;
}

.ApplicationFileManager .TableWrap {
}

.ApplicationFileManager .TableBodyWrap {
}

.ApplicationFileManager .GtkIconView {
}
.ApplicationFileManager .Loading {
  position : absolute;
  top : 0px;
  left : 0px;
  right : 0px;
  bottom : 0px;
  z-index : 1000;
  background : #000;

  filter: alpha(opacity=30); /* internet explorer */
  -khtml-opacity: 0.30;      /* khtml, old safari */
  -moz-opacity: 0.30;       /* mozilla, netscape */
  opacity: 0.30;           /* fx, safari, opera */
}
.ApplicationFileManager .Loading img {
  display : block;
  position : absolute;
  left : 50%;
  top : 50%;
  width : 64px;
  height : 64px;
  margin : -32px;
}
