@charset "UTF-8";
/*!
 * Application: About
 *
 * @package OSjs.Applications
 * @author Anders Evenrud <andersevenrud@gmail.com>
 * @licence Simplified BSD License
 */

.SystemAbout {

}

.SystemAboutInner {
  text-align : center;
}

.SystemAboutInner span {
  font-weight : bold;
  font-size : 120%;
  display : block;
}
