@charset "UTF-8";
/**
 * Application: ApplicationViewer
 *
 * @package OSjs.Applications
 * @author Anders Evenrud <andersevenrud@gmail.com>
 */

.ApplicationViewer {
}

.ApplicationViewerWrapper {
  position : relative;
  margin-top : 10px;
}

.ApplicationViewerLoading {
  background : url('/img/ajaxload_snake_trans.gif') no-repeat center center;
  position : absolute;
  top : 0px;
  left : 0px;
  right : 0px;
  bottom : 0px;
}

.ApplicationViewerImage {
}
