@charset "UTF-8";
/*!
 * Application: SystemSettings
 *
 * @package OSjs.Applications
 * @author Anders Evenrud <andersevenrud@gmail.com>
 * @licence Simplified BSD License
 */

.SystemSettings {
}
.SystemSettings .GtkComboBox {
  width : 100%;
}
.SystemSettings .GtkEntry {
  width : 100%;
}
.SystemSettings .GtkColorButton {
  height : 20px;
}
