@charset "UTF-8";
/*!
 * Application: ApplicationMail
 *
 * @package OSjs.Applications
 * @author Anders Evenrud <andersevenrud@gmail.com>
 */

.ApplicationMail {

}

.ApplicationMail.window_main .box2 .Position_0 {
  padding-right : 5px;
}

.ApplicationMail.window_main .iconview_list {
}
.ApplicationMail.window_main .iconview_list div {
  margin : 5px;
  cursor : pointer;
}
.ApplicationMail.window_main .iconview_list div.Current {
  font-weight : bold;
}

.ApplicationMail.window_main .iconview_mail {
}
.ApplicationMail.window_main .iconview_mail div {
  margin : 5px;
  cursor : pointer;
}
.ApplicationMail.window_main .iconview_mail div.Current {
  font-weight : bold;
}

.ApplicationMail iframe {
  position : absolute;
  top : 0px;
  left : 0px;
  right : 0px;
  bottom : 0px;
  border : 0 none;
  margin : 0;
  padding : 0;
  background : #fff;
}

.ApplicationMail .GtkIconView {
  overflow : auto;
}

.ApplicationMail .Loading {
  position : absolute;
  top : 0px;
  left : 0px;
  right : 0px;
  bottom : 0px;
  z-index : 1000;
  background : #000;

  filter: alpha(opacity=30); /* internet explorer */
  -khtml-opacity: 0.30;      /* khtml, old safari */
  -moz-opacity: 0.30;       /* mozilla, netscape */
  opacity: 0.30;           /* fx, safari, opera */
}
.ApplicationMail .Loading img {
  display : block;
  position : absolute;
  left : 50%;
  top : 50%;
  width : 64px;
  height : 64px;
  margin : -32px;
}

.ApplicationMail.window_options .OptionsContent table {
}
.ApplicationMail.window_options .OptionsContent div {
  position : absolute;
  bottom : 0;
  right : 0;
}
