@charset "UTF-8";
/*!
 * Application: ApplicationIRC
 *
 * @package OSjs.Applications
 * @author Anders Evenrud <andersevenrud@gmail.com>
 * @licence Simplified BSD License
 */

.ApplicationIRC {

}

.ApplicationIRC textarea,
.ApplicationIRC select,
.ApplicationIRC .Textarea {
  font-family : Monospace;
  font-size : 12px;
  white-space : pre;
  border : 0 none;
  margin : 0;
  padding : 0;
  resize : none;
  overflow : auto;
}

.ApplicationIRC .Tab_user {
}

.ApplicationIRC .Tab_channel {

}
.ApplicationIRC .Tab_channel textarea,
.ApplicationIRC .Tab_channel .Textarea {
  right : 180px !important;
}
.ApplicationIRC .Tab_channel select {
  position : absolute;
  top : 0px !important;
  right : 0px !important;
  bottom : 0px !important;
  left : auto !important;
  width : 180px !important;
}

.ApplicationIRC .Textarea {
}
.ApplicationIRC .Textarea .me {
  color : #666;
}
.ApplicationIRC .Textarea .other {
  color : #222;
}
.ApplicationIRC .Textarea .topic {
}
.ApplicationIRC .Textarea .names {
}
.ApplicationIRC .Textarea .join {
  color : green;
}
.ApplicationIRC .Textarea .part {
  color : blue;
}
.ApplicationIRC .Textarea .kick {
  color : red;
}
.ApplicationIRC .Textarea .mode {
  font-style : italic;
}
